<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>BloodDonation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>bd.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signup</display-name>
    <servlet-name>signup</servlet-name>
    <servlet-class>bd.signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addAccount</display-name>
    <servlet-name>addAccount</servlet-name>
    <servlet-class>bd.addAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addAccount</servlet-name>
    <url-pattern>/addAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete</display-name>
    <servlet-name>delete</servlet-name>
    <servlet-class>bd.delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update</display-name>
    <servlet-name>update</servlet-name>
    <servlet-class>bd.update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update1</display-name>
    <servlet-name>Update1</servlet-name>
    <servlet-class>bd.Update1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update1</servlet-name>
    <url-pattern>/Update1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>bd.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminView</display-name>
    <servlet-name>AdminView</servlet-name>
    <servlet-class>bd.AdminView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminView</servlet-name>
    <url-pattern>/AdminView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClickDelete</display-name>
    <servlet-name>ClickDelete</servlet-name>
    <servlet-class>bd.ClickDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClickDelete</servlet-name>
    <url-pattern>/ClickDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClickUpdate</display-name>
    <servlet-name>ClickUpdate</servlet-name>
    <servlet-class>bd.ClickUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClickUpdate</servlet-name>
    <url-pattern>/ClickUpdate</url-pattern>
  </servlet-mapping>
</web-app>